
  <div class="mover">
      <div id="form" class="move-middle">
          <h2 class="centrado">Sign Up</h2>
          <form action="/auth/signup" method="POST" class="grid">

              <label class="align1"> Username
                  <input type="text" name="username" placeholder="Your username" />
                </label>

                <label class="align2"> Email
                  <input type="email" name="email" placeholder="Your email" />
                </label>

                <label class="align3"> Password
                  <input type="password" name="password" placeholder="Your password" />
                </label>
                 {{!-- <div class="adjust">
                 <!--<a src="./login.hbs" placeholder="Create account" class="almedio">Create account</a> -->
                 </div> --}}
                <button class="almedio" type="submit">Create Account</button>


              {{#if errorMessage}}
                <p class="error">{{errorMessage}}</p>
              {{/if}}
          </form>
    </div>
  </div>
