<section class="about">
    <h2>created and designed by</h2>
    <div class="about-cards-container">
        <div class="card-info">
            <p class="about-username">Julio Villalvazo Carrera</p>
            <p class="about-github"><i class="fa-brands fa-github about-icon"></i><a
                    href="https://github.com/juliovillalvazo">juliovillalvazo</a></p>
            <p class="about-linkedin"><i class="fa-brands fa-linkedin about-icon"></i><a
                    href="https://www.linkedin.com/in/juliovillalvazo/">juliovillalvazo</a></p>
            <img class="about-pp" src="https://avatars.githubusercontent.com/u/51309531?v=4"
                alt="github profile picture" />
        </div>
        <div class="card-info">
            <p class="about-username">Eduardo Reyes Mendoza</p>
            <p class="about-github"><i class="fa-brands fa-github about-icon"></i><a
                    href="https://github.com/EduardoReyno">EduardoReyno</a></p>
            <p class="about-linkedin"><i class="fa-brands fa-linkedin about-icon"></i><a
                    href="https://www.linkedin.com/in/eduardo-reyes-mendoza/">eduardo-reyes-mendoza</a></p>
            <img class="about-pp" src="https://avatars.githubusercontent.com/u/110642715?v=4"
                alt="github profile picture" />
        </div>
    </div>
    <div class="about-project">
        <p>github project</p>
        <a class="about-project-link" href="https://github.com/juliovillalvazo/pointtoo">pointtoo</a>
    </div>
</section>