<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{{appTitle}}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link rel="stylesheet" href="/stylesheets/user-profile.css">
  <link rel="stylesheet" href="/stylesheets/country.css">
  <link rel="stylesheet" href="/stylesheets/signup.css">
  <link rel="stylesheet" href="/stylesheets/login.css">
  <link rel="stylesheet" href="/stylesheets/createcountry.css">
  <link rel="stylesheet" href="/stylesheets/about.css">
  <link rel="stylesheet" href="/stylesheets/edit-user.css">
  <link rel="stylesheet" href="/stylesheets/edit-comment.css">
</head>

<body>
  <header>
    <nav class="navbar-container">
      <div class="navbar-left">
        <a class="no-text-decoration" href="/">
          <h1 class="navbar-left__title">
            POINTTOO
          </h1>
        </a>
      </div>
      <div class="navbar-right">
        <a href="/" id="home" class="navbar-btn">home</a>
        {{#if user}}
        <a href="/auth/user-profile" id="profile" class="navbar-btn">profile</a>

        <a href="/auth/logout" id="logout" class="navbar-btn logout">logout</a>

        {{else}}
        <a href="/auth/login" id="login" class="navbar-btn">login</a>
        <a href="/auth/signup" id="signup" class="navbar-btn">signup</a>
        {{/if}}
      </div>
    </nav>
  </header>

  {{{body}}}

  <footer>
    <a href="/about">about us</a>
  </footer>

  <script src="/js/script.js"></script>
  <script src="https://kit.fontawesome.com/aefbe50b55.js" crossorigin="anonymous"></script>
</body>

</html>