.new-country-container h2 {
    font-size: 4rem;
    align-self: flex-start;
    margin-left: 18rem;
}
.new-country-form h3 {
    font-size: 2.3rem;
}

.new-row {
    color: #118ab2;
    font-size: 2rem;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 2.3rem;
}

.new-country-form {
    border-radius: 20px;
    background-color: var(--white);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    height: 70%;
    align-items: center;
    justify-items: center;
    width: 70%;
}

.new-row-move-left {
    color: #118ab2;
    font-size: 2rem;
    background-color: #fff;
    padding: 2.3rem 26.3rem;
}
.new-country-container {
    color: #118ab2;
    padding: 5rem;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: var(--main-yellow);
    justify-content: center;
    align-items: center;
}
.new-row-button {
    display: flex;
    justify-content: flex-end;
}
.color-link,
.color-link:visited {
    background-color: #118ab2;
    color: #fff;
    padding: 0rem 2rem;
    border-radius: 6px;
    font-size: 3.5rem;
    margin-right: 2rem;
    text-decoration: none;
}

.color-boton {
    background-color: #118ab2;
    color: #fff;
    padding: 0rem 2rem;
    border-radius: 6px;
    font-size: 3.5rem;
    border: none;
}
.country-input {
    height: 3rem;
    border-radius: 20px;
    border: 2px solid gray;
    padding: 1.8rem;
}

.color-link:hover,
.color-boton:hover {
    background-color: var(--main-green);
}
