
.edit-font-nombre {
   font-size: 5.2rem;
   color: #118ab2;
}

.edit-user-container {
    background-color:#ffd166 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.new-row-edit {
    color:#118ab2;
    font-size: 2rem;
    height: 208px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.edit-user-input {
    height: 3rem;
    border-radius: 20px;
    border:2px solid gray;
    padding: 1.6rem;
}
.color-del-link {
    background-color: #118ab2;
    color: #fff;
    padding: 0rem 2rem;
    border-radius: 6px;
    font-size: 2.5rem;
    margin-right: 2rem;
    text-decoration: none;
}
.color-del-boton {
    background-color: #118ab2;
    color: #fff;
    padding: 0rem 2rem;
    border-radius: 6px;
    font-size: 2.5rem;
    border: none;
}
.border-edit {
    background-color: #fff;
    border-radius: 20px;
}
.edit-margin-user {
    justify-self: flex-start;
}