* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Rubik', 'sans-serif';
}


.direction-middle {
    background-color: var( --main-yellow);
    display: flex;
    justify-content: center;
    padding: 20rem;
    font-size: 5rem;
}

.alotro{
    background-color: #ef476f88;
    border-radius: 2rem;
    width: 53rem;
    height: 39rem;
    color: black;
}

.texo-centrado {
    display: grid;
    justify-content: center;
    font-size: 5rem;
    margin: 1rem;
}
.grid {
    margin-top: 3rem;
    font-size: 2.5rem; 
}
.alinia1 {
    display: grid;
    height: 75px;
}
.alinia2 {
    display: grid;
    height: 75px;
    margin-top: 2.5rem;
}
.enmedio {
    margin-top: 2rem;
    padding: 1rem;
    color: #fff;
    background-color: black;
    border-radius: 4rem;
}
.input-radius {
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 18rem;
}

