.direction-middle {
    background-color: var(--main-yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    font-size: 5rem;
    color: var(--dark-blue);
}

.alotro {
    background-color: #ef476f88;
    border-radius: 2rem;
    width: 53rem;
    height: 38rem;
}

.texo-centrado {
    display: grid;
    justify-content: center;
    font-size: 5rem;
    margin: 1rem;
}
.grid {
    margin-top: 3rem;
    font-size: 2.5rem;
}
.alinia1 {
    display: grid;
    height: 40px;
}
.alinia2 {
    display: grid;
    height: 40px;
    margin-top: 2.5rem;
}
.enmedio {
    margin-top: 2rem;
    padding: 1rem;
    color: #fff;
    background-color: var(--dark-blue);
    border-radius: 4rem;
    width: 40%;
}
.input-radius {
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 18rem;
    padding: 15px;
    margin-bottom: 2rem;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form-container label {
    font-size: 2.6rem;
    text-align: start;
}

.login-input-row {
    display: flex;
    flex-direction: column;
}
