:root {
    --main-yellow: #ffd166;
    --light-blue: #118ab2;
    --dark-blue: #073b4c;
    --main-green: #06d6a0;
    --main-red: #ef476f;
    --white: #ffffff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Rubik', 'sans-serif';
}

html {
    font-size: 62.5%;
}

/* 1rem = 10px when font size is 62.5% */

body {
    height: 87vh;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2%;
    background-color: var(--main-yellow);
    border-bottom: 1px solid grey;
    height: 8vh;
}

.navbar-left__title {
    color: var(--dark-blue);
    font-size: 2.5rem;
}

.navbar-left__title:hover {
    color: var(--main-red);
}

.navbar-right {
    display: flex;
    margin-right: 2rem;
}

.navbar-btn,
.navbar-btn:visited {
    display: inline-block;
    background-color: var(--dark-blue);
    border-radius: 2rem;
    color: var(--white);
    padding: 1.8%;
    font-size: 1.6rem;
    height: 3rem;
    width: 10rem;
    text-align: center;
    text-decoration: none;
}

.navbar-btn:hover {
    background-color: var(--main-green);
}

/* .navbar-btn:active {
    background-color: var(--main-green);
} */

.navbar-btn:not(:last-child) {
    margin-right: 1.6rem;
}

.active,
.active:visited {
    background-color: var(--main-green);
}

footer {
    border-top: 1px solid grey;
    background-color: var(--main-yellow);
    width: 100%;
    height: 5vh;
    max-height: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    position: relative;
    z-index: 10;
}

footer a {
    margin-right: 20px;
    font-size: 2rem;
    color: var(--dark-blue);
}

footer a:hover {
    color: var(--main-green);
}

.logout {
    background-color: orangered !important;
}

.loggedinerror {
    color: orangered;
    font-size: 3rem;
    text-align: center;
}

.error {
    padding: 2%;
    min-height: 4rem;
    background-color: red;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    font-size: 2rem;
}
