<section class="country">
    <div class="country-left-side">
        <div class="top">
            <div class="country-info">
                <h2>CountryName</h2>
                <p>country, capital</p>
            </div>
            <div class="country-rating">
                <p class="country-title">rating</p>
                <p>5/5</p>
                <div class="stars-container">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
        </div>
        <div class="famous-dish">
            <p class="country-title">famous dish</p>
            <p>famous and delicious dish</p>
        </div>
        <div class="fun-facts">
            <p class="country-title">fun facts</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa neque laboriosam quia ad magni explicabo
                atque nisi dolores consequatur voluptatem, eos quo, ullam inventore repellat id optio error cum placeat.
            </p>
        </div>
        <div class="country-comments">
            <ul class="comments-list">
                <p class="country-title comment-title">comments</p>
                <li class="single-comment">
                    <p class="comment-username">username</p>
                    <p class="comment-content">dummy comment</p>
                </li>
                <li class="single-comment">
                    <p class="comment-username">username</p>
                    <p class="comment-content">dummy comment</p>

                </li>
                <li class="single-comment">
                    <p class="comment-username">username</p>
                    <p class="comment-content">dummy comment</p>
                </li>
            </ul>
            <form class="comments-form">
                <textarea class="comment-input" name="comment" rows="5"
                    cols="33">please insert your comment here...</textarea>
                <button class="country-btn">comment</button>
            </form>
        </div>
    </div>
    <div class="country-right-side">
        <img class="country-img" src="/images/cool_photo.jpeg" alt="country cool picture">
        <div class="country-actions">

            <button class="country-btn popup" onclick="myFunction()"><i class="fa-solid fa-share"></i>share
                <span class="popuptext" id="myPopup">copy link: <br>
                    http://localhost:3000/country</span>
            </button>
            <form>
                <button type="submit" class="country-btn"><i class="fa-regular fa-bookmark"></i>bookmark</button>
            </form>

        </div>
    </div>
    <script>
        function myFunction() {
            var popup = document.getElementById("myPopup");
            popup.classList.toggle("show");
        }
    </script>
</section>