<section class="new-country-container">
    <h2>create a new country</h2>
    <form class="new-country-form" action="/create-country" method="post">
        <div>
            <h3>country name</h3>
            <input name="name" class="country-input" type="text" placeholder="country">
        </div>
        <div>
            <h3>fun facts</h3>
            <input name="funFacts" class="country-input" type="text" placeholder="facts">
        </div>

        <div>
            <h3>capital</h3>
            <input name="capital" class="country-input" type="text" placeholder="capital">
        </div>
        <div>
            <h3>picture url</h3>
            <input name="pictureUrl" class="country-input" type="text" placeholder="picture url">
        </div>

        <div>
            <h3>famous dish</h3>
            <input name="famousDish" class="country-input" type="text" placeholder="famous dish">
        </div>

        <div class="new-row-button">
            <a class="color-link" href="/auth/user-profile">cancel</a>
            <button class="color-boton" type="submit">create</button>
            {{!-- <input class="color-boton" type="button" value="Submit"> --}}
        </div>

    </form>
    {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
    {{/if}}
</section>