<section class="comment-section-edit">
    <h1 class="title-comment">edit comment</h1>
    <form action="/user-profile/:idCountry/comment/:idComment/delete" method="post">
        <div class="please-edit-comment">
            <h3>please edit comment</h3>
            <textarea class="edit-comment-input" name="comment" rows="5" cols="33"
                placeholder="please insert your comment here..."></textarea>
        </div>
        <div class="comment-edit-up-lay">
            <a class="edit-cancel-comment" href="/auth/user-profile">cancel</a>
            <button class="edit-update-comment" type="submit">update</button>
        </div>
    </form>
</section>