<section class="edit-user-container">
    <h1 class="edit-font-nombre">Edit User</h1>
    <form class="border-edit" action="/auth/user-profile/edit" method="post">
        <div class="new-row-edit">
            <div class="edit-margin-user">
                <h3>Username</h3>
                <p>{{user.username}}</p>
            </div>
            <div>
                <h3>Email</h3>
                <input name="email" class="edit-user-input" type="text" value="{{user.email}}">
            </div>
        </div>
        <div class="new-row-edit">
            <div>
                <h3>picture url</h3>
                <input name="pictureUrl" class="edit-user-input" type="text" value="{{user.pictureUrl}}">
            </div>
            <div class="new-edit-button">
                <div>
                    <a class="color-del-link" href="/auth/user-profile">Cancel</a>
                    <button class="color-del-boton" type="submit">Update</button>
                </div>
            </div>
        </div>
    </form>
</section>