<section class="user-profile">
    <div class="user-profile-left-side">
        <img class="user-profile__img" src="/images/default-user.png" alt="user profile picture">
        <div class="user-info">
            <div>
                <p class="user-info__label">username</p>
                <p class="user-info__info">elon musk</p>
            </div>
            <div>
                <p class="user-info__label">email</p>
                <p class="user-info__info">elonmusk@tesla.com</p>
            </div>
        </div>
    </div>
    <div class="user-profile-right-side">
        <div class="comments-section">
            <h3 class="right-side__title">comments</h3>
            <div class="comments-container">
            </div>
        </div>
        <div class="bookmarks-section">
            <h3 class="right-side__title">bookmarks</h3>
            <div class="bookmarks-container">
            </div>
        </div>
    </div>
</section>